<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>658280719618-snb46agk34a7acpb5tsc2ep91fvijdb5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.658280719618-snb46agk34a7acpb5tsc2ep91fvijdb5</string>
	<key>API_KEY</key>
	<string>AIzaSyCLv9E-2_WDiVgyLDAa2jNy2J9LWdo4k0I</string>
	<key>GCM_SENDER_ID</key>
	<string>658280719618</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mynotesapp</string>
	<key>PROJECT_ID</key>
	<string>moj-notes-demo</string>
	<key>STORAGE_BUCKET</key>
	<string>moj-notes-demo.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:658280719618:ios:27dd0e0b1284ae09630e1b</string>
</dict>
</plist>